.link {
    position: relative;
  }
  .link:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
  }
  .link:hover:after {
    width: 100%;
    left: 0;
    background: #fff;
  }
  @media only screen and (max-width: 768px){
html, body{
  width: 108vh;
}
#navbar{
  width: 108vh;
}
}
@media only screen and (max-height: 768px){
  html, body{
    width: 126vh;
  }
  #navbar{
    width: 126vh;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1030px){
  html, body{
    width: 170.6vh;
  }
  #navbar{
    width: 170.6vh;
  }
}
@media only screen and (max-height: 700px) and (min-height: 601px){
  html, body{
    width: 129.5vh;
  }
  #navbar{
    width: 129.5vh;
  }
  }
    